{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/resetPass' %}">
</head>
<body>
    <div class="overlay">
        <form action="/api/auth/reset/{{token}}/{{userId}}/" method="post">
          {% csrf_token %}
           
           <div class="con">
         
           <header class="head-form">
              <h2>Change Password</h2>
            
              <p>Enter your new password</p>
           </header>
           <br>
           <div class="field-set">
             
                 <span class="input-item">
                   <i class="fa fa-user-circle"></i>
                 </span>
                 <input class="form-input" id="txt-input" type="text" placeholder="Password" name = "password1" required>
             
              <br>
             
             
              <span class="input-item">
                <i class="fa fa-key"></i>
               </span>
              <input class="form-input" type="password" placeholder="Confirm Password" id="pwd"  name="password2" required>
             
        
             <span>
                <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
             </span>
             
             
              <br>
      
              <button class="log-in"> Change Password </button>
           </div>
          

           <div class="other">

              <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
           </div>
             
        <!--   End Container  -->
          </div>
          
          <!-- End Form -->
        </form>
        </div>
</body>
</html>


